.demo-wrap {
    overflow: hidden;
    position: relative;
}

.demo-bg {
    opacity: 0.5;
    position: absolute;
    left: 0;
    top: 0;
}

.demo-content {
    position: relative;
    top: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
}